@import '../variables.scss';

.button {
    transition: all .2s;
    cursor: pointer;
    text-align: center;
	&:focus-visible {
		outline: auto;
	}
}

.inline {
    margin-top: 8px;
    color: $color-primary;
    &:hover,
	&:focus {
        opacity: 0.8;
        transform: scale(1.02);
	}
}

.primary, .secondary {
    margin-top: 24px;
    padding: $space-s $space-l;
    border-radius: 30px;
    text-transform: uppercase;
}

.primary {
    border: none;
    background: $color-primary;
    border: 2px solid $color-primary;
    color: $color-background;
    &:hover,
    &:focus {
        background: $color-secondary;
        border: 2px solid $color-secondary;
    }
    &:active {
        background: transparent;
        border: 2px solid $color-primary;
        color: $color-primary;
    }
}

.secondary {
    border: 2px solid $color-secondary;
    color: $color-secondary;
}