@import '../variables.scss';

.input {
	-webkit-appearance: none;
	min-width: 300px;
	border: 2px solid $color-secondary;
	border-radius: 24px;
	background: transparent;
	padding: $space-s $space-m;
	text-align: center;
	&:hover,
	&:focus {
		outline: none;
		border: 2px solid $color-primary;
	}
	&:focus-visible {
		border: 4px solid $color-primary;
	}
	&.error {
		border: 2px solid $color-text-error;
	}
}